/* from TailwindCSS */
:root {
  /* define CSS variables for use elsewhere */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.rounded-sm {
  border-radius: 0.125rem;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.h-2 {
  height: 0.5rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-2xs {
  font-size: 0.7rem;
}

.leading-none {
  line-height: 1;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pointer-events-none {
  pointer-events: none;
}

.relative {
  position: relative;
}

* {
  --tw-shadow: 0 0 #0000;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.w-2 {
  width: 0.5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.text-shadow-white-stroke {
  text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, 1px 1px 1px #fff,
    -1px 1px 1px #fff;
}
